<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Did you forgot your password <%= user.username %>?</h4>
    <p>If yes, click this link to reset your password</p>
    <a href=<%= url %>forgot_password?token=<%= user.token %>&password=<%= password %>>Go to Jotky</a>
    <p>And don't forget to copy-paste your temporary password</p>
    <p><%= password %></p>
    <p>If not, please ignore this message</p>
  </body>
</html>
