<script type="text/template" id="change-password-template">

  <div class="signUp_content main_content">
    <div class="opening_text">
      <div id="main-middle-change-password-alert"></div>
      <p class="line_two">Change Password</p>
    </div>
    <%= form_tag notify_forgot_password_path(:format => :json), :id => 'change-password-form' do -%>

      <table class="box_registration">
        <tbody>
          <tr class="reg_password">
            <td class="label_registration">
              <%= label_tag 'change_password_password', 'Password' %>
              <%= password_field_tag 'change_password[password]', nil %>
            </td>
            <td class="alert_registration main-change-password-form-field-alert">
              <p class="default_text">
                <%= label_tag 'forgot_password_password', 'must be 6 characters or more' %>
              </p>
              <p class="error hidden"></p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bottom_registrationPath">
        <br class="clear"/>

        <div class="reg_agreedButton green_button">
          <%= submit_tag 'Recover Password' %>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</script>
