<script type="text/template" id="magicbox-template">
  <div class="top_button clearfix" id="main-magicbox-navigation">
    <a id="magicbox-navigation-search" href="#!/search" class="search_icon">
      <span class="img_1 main-magicbox-navigation-link-icon-1"></span>
      <span class="search_text main-magicbox-navigation-link-text">Search</span>
      <span class="img_2 main-magicbox-navigation-link-icon-2"></span>
    </a>
    <a id="magicbox-navigation-jot" href="#!/jots" class="jot_icon">
      <span class="img_1 main-magicbox-navigation-link-icon-1"></span>
      <span class="jot_text main-magicbox-navigation-link-text jot_text_active">Jot</span>
      <span class="img_2 main-magicbox-navigation-link-icon-2"></span>
    </a>

    <# if(_.isEmpty(current_user)){ #>

    <a id="magicbox-navigation-login" href="#!/login" class="sign_up">
      Sign up or Login
    </a>

    <# }else{ #>

    <div id="magicbox-navigation-logged-in" class="right">
      <a class="new_update_notactive r-notification-tab" href="#!/notification" id="magicbox-navigation-logged-in-notification">
        <span class="update_icon"></span>
        <span class="update_text">24 New Updates</span>
      </a>
      <a id="magicbox-navigation-logged-in-user-panel" class="sign_up" href="#!/profile"></a>
    </div>

    <# } #>
  </div>

  <div class="magicbox-content-tab" id="magicbox-content-tab">

    <div class="magicbox-content-tab-item hidden" id="magicbox-search">
      <%= form_tag searches_path(:format => 'json'), :id => 'magic-box-search-form', :method => :get do  %>
        <div class="search jot-search-content clearfix">
          <%= text_field_tag :keyword, nil, :placeholder => "Search everything", :id => 'magic-box-search-field' %>
          <%= submit_tag '', :id => 'gray_search'  %>
        </div>
      <% end %>
    </div>

    <div class="magicbox-content-tab-item" id="magicbox-jot">
      <%= form_tag jots_path(:format => 'json'), :id => 'jots-form', :multipart => false do %>
        <div class="jot_search search jots jot-tab-content clearfix">
          <input type="text" placeholder="Tags, places, users, search from them here!" name="jot[title]" id="jot-form-title-field" autocomplete="off" class="valid">
          <input type="submit" value="" name="commit">
        </div>


        <div class="jot_buttons_path jot-tab-content">
          <div class="left">
            <ul>
              <li>
                <a href="javascript:void(0)" class="write_more_but jot_buttons_color jot-bar-button" id="jot-bar-write-more">
                  <span class="jot_write_icon">&nbsp;</span>
                  <span class="jot_button_text">Write more</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="clip_but jot_but jot_buttons_color jot-bar-button" id="jot-bar-clip">
                  <span class="jot_clip_icon">&nbsp;</span>
                  <span class="jot_button_text">Clip</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="jot_but loc_but jot_buttons_color jot-bar-button" id="jot-bar-location">
                  <span class="jot_location_icon">&nbsp;</span>
                  <span class="jot_button_text">Location</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="jot_but tags_but jot_buttons_color jot-bar-button" id="jot-bar-tag">
                  <span class="jot_tags_icon">&nbsp;</span>
                  <span class="jot_button_text">Tags</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="jot_button_right">
            <span class="jot_count" id="jot-input-text-length">140</span>
            <a href="javascript:void(0)" class="jot_down_arrow" id="link-to-open-all-more-input">&nbsp;</a>
          </div>
        </div>

        <div class="jot_mode_hide clearfix" id="jot-input-more">
          <div id="jot-input-more-holder">

            <div class="jot_more_content hidden" id="jot-write-more-panel">
              <div class="more_content_top">
                <span class="add_more_icon">&nbsp;</span>
                <span class="add_more_text">Add more content</span>
              </div>
              <div class="more_content_bottom">
                <%= text_area_tag 'jot[detail]', nil, :id => 'jot-write-more-field'  %>

                <span class="more_content_count jot_count" id="jot-input-more-text-length">512</span>
              </div>
              <div class="clear"></div>
            </div>

            <div class="jot_upload_media hidden clearfix" id="jot-clip-panel">
              <div class="upload_media_top">
                <span class="upload_media">&nbsp;</span>
                <span class="add_more_text">Upload Media or Add URL</span>
                <a class="attach_more_things" href="">Attach more things</a>
              </div>
              <div class="upload_media_bottom">

                <div>
                  <div class="submit_upload_media">
                    <%= session_field_tag %>
                    <input type="text" name="clip" id="jot-clip-field">
                  </div>
                  <div class="image_upload_path_style"  id="list-uploaded-clip-holder">
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="jot_add_location clearfix hidden" id="jot-location-panel">
              <div class="add_location_top">
                <span class="add_location_media">&nbsp;</span>
                <span class="add_more_text">Add location</span>
                <a class="attach_more_location" href="">Attach more location</a>
              </div>
              <div class="up_media_top">
                <div class="upload_media_bottom">
                  <form action="">
                    <div>
                      <input type="text" class="add_own_location" value="Jakarta">
                      <input type="submit" value="Insert">
                    </div>
                  </form>
                  <div class="no_margin_left map_area" style="display: none;">
                    <ul>
                      <li>
                        <a class="map_location" href="">
                          <span class="left">
                            <img alt="" src="/assets/first-map.png">
                          </span>
                          <span class="place">
                            <span>&nbsp;</span>
                            <span>Jakarta Capital Region,</span>
                            <span>Indonesia</span>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a class="map_location" href="">
                          <span class="left">
                            <img alt="" src="/assets/second-map.png">
                          </span>
                          <span class="place">
                            <span>Jakarta,</span>
                            <span>Jakarta Capital Region,</span>
                            <span>Indonesia</span>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="right">
                  <p class="add_location_info">type an area or use google maps coordinate to add location to your jot</p>
                </div>
              </div>
              <div class="up_media_loc">
                <div class="loc_style own_jot">
                  <a class="own_location" href=""><img alt="" src="/assets/own-location.png"></a>
                  <span class="location_info">
                    <a class="tittle_location" href="">Party's Groove</a>
                    <input type="text" class="no_margin_left image_upload_input" style="display: none;">
                    <span class="road_location">Jl. Warung Buncit 09A,</span>
                    <span class="no_padding_top country_location">Jakarta Selatan, Indonesia</span>
                  </span>
                  <a class="close_img_path" href="" style="display: none;">x</a>
                </div>
                <div class="want_delete_popup" style="display: none;">
                  <div class="want_delete_white">
                    <p>Do you want to delete this?</p>
                    <span class="ok_no_button">
                      <a class="but_ok_up" href="">Ok</a>
                      <a class="no_button" href="">No</a>
                    </span>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
            </div>

            <div class="jot_tags_post hidden clearfix" id="jot-tag-more">
              <div class="jot_top_tags">
                <span class="top_tags_style jot_tags_icon">&nbsp;</span>
                <span class="top_tags_text">Tags of this post</span>
              </div>
              <div class="jot_middle_tags">
                <ul id="list-jot-tag-holder">
                </ul>
                <div class="clear"></div>
              </div>
              <div class="jot_bottom_tags"></div>
              <div class="clear"></div>
            </div>
          </div>
          <input type="submit" class="jot_green_bg" value="Jot">
        </div>
      <% end %>
    </div>

    <div class="middle-content magicbox-content-tab-item hidden" id="magicbox-login">
      <div class="login_content clearfix">
        <div class="left">
          <div class="left">
            <div class="box_signin">
              <h2>Login to start experience jotky</h2>

              <form method="post" id="login-form" action="/authentications" accept-charset="UTF-8" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="INuKFJyrknpPaoxOpo5a5pR63VyYdyHSFjnHMLAIrXI=" name="authenticity_token"></div>
                <div class="form_login">

                  <div class="username clearfix">
                    <label for="authentication_username">Username</label>
                    <input type="text" name="authentication[username]" id="authentication_username" class="valid">
                  </div>
                  <div class="password">
                    <label for="authentication_password">Password</label>
                    <input type="password" name="authentication[password]" id="authentication_password" class="valid">
                  </div>
                  <div class="remember_login">
                    <div class="left">
                      <input type="checkbox" value="1" name="remember_me" id="remember_me">
                      <p class="checkbox">Remember me on this computer</p>
                    </div>
                    <div class="right">
                      <a href="#!/forgot_password" class="forgot_password link-forgot-password">forgot password?</a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="login_button">
                    <input type="submit" value="Login" name="commit">
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                </div>
              </form>          </div>
            <div class="box_signinBottom">
              <div class="login_with">
                <p>or login with?</p>
                <%= link_to '', login_with_facebook_path, :class => 'FB' %>
                <%= link_to '', login_with_twitter_path, :class => 'twitter' %>
              </div>
            </div>
          </div>
          <div class="login_separator">
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="right">
          <div class="login_path">
            <span class="text">create a Jotky account</span>
            <a class="signup_button" href="#!/signup">Sign Up</a>
            <span class="discover">and discover everything!</span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <div id="magicbox-profile" class="magicbox-content-tab-item parent_empty_profile main_content clearfix hidden">
      <div id="magicbox-profile-content"></div>
      <div class="profile_bottom_links">
        <a class="pub_profile_link" href="#!/profile/public">
          <span class="prof_icon">&nbsp;</span>
          <span class="prof_text">View your public profile</span>
        </a>
        <a class="account_setting_link" href="#!/setting">
          <span class="acc_icon">&nbsp;</span>
          <span class="acc_text">Go to account setting</span>
        </a>
      </div>
    </div> 

    <div id="magicbox-setting" class="account_setting magicbox-content-tab-item clearfix hidden">
      <div id="magicbox-setting-content"></div>

      <div class="profile_bottom_links">
        <a class="pub_profile_link" href="#!/profile/public">
          <span class="prof_icon">&nbsp;</span>
          <span class="prof_text">View your public profile</span>
        </a>
        <a class="account_setting_link bottom_links_active" href="javascript:void(0)">
          <span class="acc_icon">&nbsp;</span>
          <span class="acc_text">Go to account setting</span>
        </a>
      </div>
    </div>

    <div id="magicbox-search-options" class="account_setting magicbox-content-tab-item clearfix hidden">
      <div class="search_box_from_nest">
        <div id="search-result-nest-holder">

        </div>
        <div class="save_tags_popup" style="display: none;">
          <div class="save_button_width want_delete_white">
            <a class="top_blue_popup" href="">Movies &gt; BoxOffice &gt; CommingSoon</a>
            <p>Save this search as:</p>
            <input type="text" class="rename_nest" value="CommingSoonMovie2011">
            <p>Under Category:</p>
            <input type="text" class="under_category rename_nest" value="Bands">
            <span class="ok_no_button">
              <a href="" class="cancel_tab">Cancel</a>
              <a class="but_save_popup" href="">Save</a>
            </span>
          </div>
        </div>
        <div class="you_can_delete_this save_tags_popup" style="display: none;">
          <div class="save_button_width want_delete_white">
            <a class="top_blue_popup" href="">Movies &gt; BoxOffice &gt; CommingSoon</a>
            <p>Save this search as:</p>
            <input type="text" class="rename_nest" value="CommingSoonMovie2011">
            <p>Under Category:</p>
            <div class="under_category_dd">
              <ul class="under_cate_top">
                <li>
                  <span class="under_dd_content">Music</span>
                  <span class="under_dd_arrow">&nbsp;</span>
                </li>
              </ul>
              <ul class="under_cate_content" style="display: none;">
                <li>
                  <span class="under_category_content">
                    <ul>
                      <li>
                        <a href="">Music</a>
                      </li>
                      <li>
                        <a href="">Movies</a>
                      </li>
                      <li>
                        <a class="add_new_category" href="">add new category</a>
                      </li>
                    </ul>
                  </span>
                  <span class="under_dd_arrow_active"></span>
                </li>
              </ul>
            </div>
            <span class="ok_no_button">
              <a href="" class="cancel_tab">Cancel</a>
              <a class="but_save_popup" href="">Save</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
