<div id="main-magicbox-navigation" class="top_button">
  <a class="search_icon main-magicbox-navigation-search-link" href="<%= searches_path %>">
    <span class="img_1 main-magicbox-navigation-link-icon-1 img_1_not_active"></span>
    <span class="search_text main-magicbox-navigation-link-text search_text_not_active">Search</span>
    <span class="img_2 main-magicbox-navigation-link-icon-2"></span>
  </a>
  <a class="jot_icon main-magicbox-navigation-jot-link" href="<%= jots_path %>">
    <span class="img_1 main-magicbox-navigation-link-icon-1"></span>
    <span class="jot_text main-magicbox-navigation-link-text jot_text_active">Jot</span>
    <span class="img_2 main-magicbox-navigation-link-icon-2"></span>
  </a>
  <% if @current_user.present? %>
   <div class="right">
    <a class="new_update_notactive r-notification-tab r-notification-tab-active" href="#" id="r-notification-tab">
        <span class="update_icon"></span>
        <span class="update_text"><%= @notifications.count %> New Updates</span>
      </a>
      <a id="user_logged" class="sign_up" href="<%= profiles_path %>">
        <img alt="" src="/assets/little-avatar.png">
        <span class="nickname_logged"><%= @current_user['username'] %></span>
        <span class="user_little_badge">0</span>
      </a>
   </div>
 <% else %>
  <a class="sign_up main-magicbox-navigation-login-link" href="<%= new_authentication_path %>">
    Sign up or Login
  </a>
   <% end %>
  <div class="clear"></div>
</div>

