<%= render 'shared/magicbox/search' %>
<div id="main-content-middle" class="timeline_jot_path middle_content clearfix">
<%= content_for :template do %>
  <%= render 'template/main_hotstuff' %>

<% end %>


<%= content_for :javascript do %>

  <%= javascript_include_tag 'view/v2/hotstuff' %>
  <script>
    var appHolderView = new AppHolderView;
    appHolderView.setElement('#main-content-middle');

    var holder = appHolderView.render({className: 'middle_content'});
    var hotstuffView = new HotstuffView;
    hotstuffView.setElement(holder);
    hotstuffView.render();


  </script>


<% end %>
</div>