<%= render 'shared/magicbox/search' %>
<div id="main-content-middle" class="middle_content clearfix">
<%= content_for :template do %>
<%= render 'template/main_about' %>
 
<% end %>


<%= content_for :javascript do %>
  
<%= javascript_include_tag 'view/v2/about' %>

  <script>
var aboutView = new AboutView;
    
  </script>

<% end %>
</div>