<%= render 'shared/magicbox/search' %>
<div id="main-content-middle" class="middle_content clearfix">
<%= content_for :template do %>
  <%= render 'template/main_about' %>
 
<% end %>


<%= content_for :javascript do %>
  
  <%= javascript_include_tag 'view/v2/about' %>
  <script>
    var appHolderView = new AppHolderView;
    appHolderView.setElement('#main-content-middle');

    var holder = appHolderView.render({className: 'middle_content'});
    var aboutView = new AboutView;
    aboutView.setElement(holder);
    aboutView.render();

    what_jotky_default
  </script>


<% end %>
</div>