<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Jotky - Landing Page (Not Logged)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= javascript_include_tag 'application_omniauth_callback' %>
    <script type="text/javascript">
      window.currentUserTwoModel = new CurrentUserTwoModel;
      currentUserTwoModel.setData(JSON.parse('<%= @data['content'].to_json.html_safe %>'), '<%= @data['token'] %>', {}, <%= @data['failed'].present? ? 'null' : 'true' %>);
      localStorage.auth_error = _.escape('<%=j @data['error'] %>');
      location.href = '/#!/jots';
    </script>
  </body>
</html>