<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Jotky - Landing Page (Not Logged)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= csrf_meta_tag %>
    <%= session_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/assets/ie7.css" />
	<![endif]-->
    <!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="/assets/ie8.css" />
	<![endif]-->
    <!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="/assets/ie9.css" />
  <![endif]-->
  </head>
  <body>
    <div class="wraper container_16 clearfix">

      <div class="header clearfix" id="header-holder"></div>

      <div class="container">
        <div class="clearfix">
          <div class="left_menu grid_2">&nbsp;
          </div>

          <div class="main_content grid_11 cleafix" id="main-content">
            <div class="alert-message-holder" id="alert-message-holder"></div>

            <div id="magicbox-holder" class="magicbox-holder">

            </div>

            <div id="main-middle" class="main-middle"></div>
          </div>

          <div class="right_content grid_3" id="sidebar-holder"></div>
        </div>
      </div>
    </div>

    <div class="footer clearfix" id="footer-holder"></div>
    <div id="process-stat" class="hidden">Loading ...</div>

    <%= render 'templates/alert' %>
    <%= render 'templates/header'  %>
    <%= render 'templates/sidebar'  %>
    <%= render 'templates/magicbox'  %>
    <%= render 'templates/footer'  %>
    <%= render 'templates/signup'  %>
    <%= render 'templates/welcome'  %>
    <%= render 'templates/jot' %>
    <%= render 'templates/jot_list' %>
    <%= render 'templates/favorites' %>
    <%= render 'templates/list_favorites' %>
    <%= render 'templates/login_completion' %>
    <%= render 'templates/jot_detail' %>
    <%= render 'templates/forgot_password' %>
    <%= render 'templates/change_password' %>
    <%= render 'templates/about'  %>
    <%= render 'templates/list_comment' %>
    <%= render 'templates/user_bar' %>
    <%= render 'templates/magicbox_profile' %>
    <%= render 'templates/magicbox_setting' %>
    <%= render 'templates/list_connection' %>
    <%= render 'templates/profile_detail' %>
    <%= render 'templates/search_result' %>
    <%= render 'templates/search_result_jot' %>
    <%= render 'templates/messages' %>
    <%= render 'templates/list_messages' %>
    <%= render 'templates/list_message_replies' %>
    <%= render 'templates/nest' %>
    <%= render 'templates/list_nest' %>
    <%= render 'templates/list_sidebar_favorite' %>
    <%= render 'templates/account_setting' %>
    <%= render 'templates/list_tag' %>
    <%= render 'templates/search_result_nest' %>
    <%= render 'templates/list_nest_item' %>
    <%= render 'templates/list_uploaded_clip' %>

    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyCDXMdW-aW51QmKOFTrCLuXXXLoSOSKz4c&sensor=true' %>
    <%= javascript_include_tag 'application' %>

    <% if flash[:error].present? %>
      <script type="text/javascript">alert("<%= flash[:error] %>");</script>
    <% end %>
     <div id="map_canvas" style="width:100%; height:100%"></div>
     <script>
       var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

     </script>
  </body>
</html>
