<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Jotky - Landing Page (Not Logged)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= csrf_meta_tag %>
    <%= session_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/assets/ie7.css" />
	<![endif]-->
    <!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="/assets/ie8.css" />
	<![endif]-->
    <!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="/assets/ie9.css" />
  <![endif]-->
  </head>
  <body>
    <div id="main-loader"></div>
    <div class="wraper container_16 clearfix">

      <div class="container">
        <div class="clearfix">
          <div class="left_menu grid_2">&nbsp;
          </div>

          <div class="main_content grid_11 cleafix" id="main-content">
            <% if params[:message].present? %>
            <div class="alert-message error">
              <%= params[:message] %>
            </div>
            <% end %>
            <p>
            <%= link_to 'Click here to get back to Jotky', root_path %>
          </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>