<%= render 'shared/magicbox/profile' %>

<div class="account_setting">
  <div class="about">
    <div class="about_top)content">
      <div class="left">
        <div class="about_avatar">&nbsp;</div>
      </div>
      <div class="left">
        <div class="big_badge">0</div>
        <div class="nickname_realname">
          <span class="nickname">MetroFx</span>
          <br class="clear">
          <span class="realname">Eko Prasetyo</span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="about_link">
      <span>0 Tags</span>
      <span class="no_margin_left">0 Jots</span>
      <span class="no_margin_left">0 Follows</span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="email_password">
    <div class="left_path">
      <span class="email_text">Email</span>
      <div class="email_path">
        <form class="" action="">
          <div>
            <input type="text" value="metrofx@gmail.com">
            <input type="submit" value="Save" class="but_save_popup">
          </div>
        </form>
        <span class="email_information">your email wil not shown to public and it will be used for password recovery</span>
      </div>
    </div>
    <div class="right_path">
      <span class="pass_text">Password</span>
      <div class="pass_path">
        <form class="" action="">
          <div>
            <input type="password" class="no_margin_top" value="12345678">
            <input type="password" value="12345678">
            <input type="submit" value="Save" class="save_style but_save_popup">
          </div>
        </form>
        <span class="pass_information">6-30 characters</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="privacy">
    <span class="privacy_text">Privacy</span>
    <form action="">
      <div>
        <table class="account_setting_table">
          <tbody>
            <tr>
              <td class="td_tittle">&nbsp;</td>
              <td class="td_radio">Everyone</td>
              <td class="td_radio">Friends</td>
              <td class="td_radio">Hide</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">Jots</td>
              <td class="border_bottom_table td_radio"><input type="radio" checked="checked" value="jots_1" name="jots"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="jots"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="jots"></td>
              <td class="border_bottom_table">&nbsp;</td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">Show Location</td>
              <td class="border_bottom_table td_radio"><input type="radio" checked="checked" value="jots_1" name="show_location"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="show_location"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="show_location"></td>
              <td class="border_bottom_table">&nbsp;</td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">Show Kudos</td>
              <td class="border_bottom_table td_radio"><input type="radio" checked="checked" value="jots_1" name="show_kudos"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="show_kudos"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="show_kudos"></td>
              <td class="border_bottom_table">&nbsp;</td>
            </tr>
            <tr>
              <td class="td_tittle">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td>
                <input type="submit" class="save_style but_save_popup" value="Save">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="privacy">
    <span class="privacy_text">Deafult Post</span>
    <form action="">
      <div>
        <table class="account_setting_table">
          <tbody>
            <tr>
              <td class="td_tittle">&nbsp;</td>
              <td class="td_radio">Always</td>
              <td class="td_radio">Ask</td>
              <td class="td_radio">Never</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">Auto-shorten URL</td>
              <td class="border_bottom_table td_radio"><input type="radio" checked="checked" value="jots_1" name="shorten"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="shorten"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="shorten"></td>
              <td class="border_bottom_table">&nbsp;</td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">Auto Complete</td>
              <td class="border_bottom_table td_radio"><input type="radio" checked="checked" value="jots_1" name="complete"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="complete"></td>
              <td class="border_bottom_table td_radio"><input type="radio" value="jots_1" name="complete"></td>
              <td class="border_bottom_table">&nbsp;</td>
            </tr>
            <tr>
              <td class="td_tittle">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td>
                <input type="submit" class="save_style but_save_popup" value="Save">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="privacy">
    <span class="privacy_text">Connections and Cross-posts<a href="" class="connect_cross">(what is this?)</a></span>
    <%= form_tag profiles_path, :id => 'profiles-form-crosspost', :method => :put do  %>
      <div>
        <table class="account_setting_table">
          <tbody>
            <tr>
              <td class="td_tittle">&nbsp;</td>
              <td class="td_radio">Allow</td>
              <td class="td_radio">Deny</td>
              <td class="td_radio">Always Cross-post</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">
                <a href="" class="no_margin_left no_margin_right FB">&nbsp;</a>
                <span class="name_cross_post">Eko Prasetyo</span>
                <a href="" class="unlink">(Unlink)</a>
              </td>
              <td class="border_bottom_table td_radio">
                <%= radio_button_tag 'profile[facebook_connection]', 'allow', @profile['facebook_connection'] == 'allow'  %>
              </td>
              <td class="border_bottom_table td_radio">
                <%= radio_button_tag 'profile[facebook_connection]', 'deny', @profile['facebook_connection'] == 'deny'  %>
              </td>
              <td class="border_bottom_table td_radio">
                <%= radio_button_tag 'profile[facebook_connection]', 'always', @profile['facebook_connection'] == 'always'  %>
              </td>
              <td class="border_bottom_table"><a href="" class="no_padding_left connect_cross">add more account</a></td>
            </tr>
            <tr>
              <td class="border_bottom_table td_tittle">
                <a href="" class="no_margin_left twitter"></a>
                <span class="name_cross_post">@metrofx</span>
                <a href="" class="unlink">(Unlink)</a>
              </td>
              <td class="border_bottom_table td_radio">
                 <%= radio_button_tag 'profile[twitter_connection]', 'allow', @profile['twitter_connection'] == 'allow'  %>
              </td>
              <td class="border_bottom_table td_radio">
                <%= radio_button_tag 'profile[twitter_connection]', 'deny', @profile['twitter_connection'] == 'deny'  %>
              </td>
              <td class="border_bottom_table td_radio">
                <%= radio_button_tag 'profile[twitter_connection]', 'always', @profile['twitter_connection'] == 'always'  %>
              </td>
              <td class="border_bottom_table"><a href="" class="no_padding_left connect_cross">add more account</a></td>
            </tr>
            <tr>
              <td class="td_tittle">
                <p class="p_information">Your setting are saved</p>
              </td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td>
                <%= submit_tag 'Save', :class => "save_style but_save_popup" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="privacy">
    <span class="privacy_text">Media Upload</span>
    <form action="">
      <div>
        <table class="account_setting_table">
          <tbody>
            <tr>
              <td colspan="5"><p class="border_bottom_table p_information">If you choose to upload media from your computer, they will be stored either on your Facebook account, your youtube account, or both*</p></td>
            </tr>
            <tr>
              <td class="td_tittle">
                <span class="upload_videos">&nbsp;</span>
                <span class="upload_videos_text">Upload videos to</span>
              </td>
              <td class="td_radio">
                <label class="fb_label" for="first_fb_label"></label>
                <input type="checkbox" id="first_fb_label" name="complete">
              </td>
              <td class="td_radio">
                <label class="youtube_label" for="youtube_label"></label>
                <input type="checkbox" id="youtube_label" name="complete">
              </td>
              <td class="td_radio">&nbsp;</td>
              <td class="">&nbsp;</td>
            </tr>
            <tr>
              <td class="td_tittle">
                <span class="upload_picture">&nbsp;</span>
                <span class="upload_videos_text">Upload pictures to</span>
              </td>
              <td class="td_radio">
                <label class="fb_label" for="second_fb_label"></label>
                <input type="checkbox" id="second_fb_label" name="complete">
              </td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="">&nbsp;</td>
            </tr>
            <tr>
              <td class="td_tittle">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td class="td_radio">&nbsp;</td>
              <td>
                <input type="submit" class="save_style but_save_popup" value="Save">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="profile_bottom_links">
    <a class="pub_profile_link" href="#">
      <span class="prof_icon">&nbsp;</span>
      <span class="prof_text">View your public profile</span>
    </a>
    <a class="account_setting_link bottom_links_active" href="<%= edit_profiles_path %>">
      <span class="acc_icon">&nbsp;</span>
      <span class="acc_text">Go to account setting</span>
    </a>
  </div>
  <div class="clear"></div>
</div>