<%= render 'shared/magicbox/notification' %>

<div class="notif_mode_path" id="r-notif-mode-path">
  <div class="notif_new_update_path">
    <div class="notif_new_update_you">
      <div class="update_you_header">
        <span>You</span>
        <a href="">clear all</a>
      </div>
      <ul class="update_you_content">
        <% @notifications.select { |n| n['type'] == 'user' }.reverse.each do |notif| %>
          <li class="notif_information">
            <div class="notif_avatar">
              <img src="/assets/ava-jimmy.png" alt="" />
            </div>
            <div class="notif_info_right">
              <div class="primary_content">
                <p class="notif_info_title">
                  <a href="/user/<%= notif['authors'].last %>" ><%= notif['authors'].last %></a> <%= notif['summary'] %> <a href="/jots/<%= notif['jot_id'] %>">jot</a>
                </p>
                <div class="notif_info_upload">
                  <span><%= distance_of_time_in_words Time.now, Time.parse(notif['time']) %> ago</span>
                </div>
              </div>
              <div class="secondary_content">
                <div class="notif_info_secondary_white">
                  <p class="notif_info_content">
                    <%= notif['content'] %>
                  </p>
                  <a href="" class="more_update_display">more</a>
                </div>
              </div>
            </div>
            <a href="" class="update_close"></a>
          </li>
        <% end %>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-jimmy.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">Jimmy</a> mentioned you in his <a href="">jot</a>
              </p>
              <div class="notif_info_upload">
                <span>5 minutes ago via Twitter</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  i know that <a href="">@MetroFx</a> is purely handsome, i wonder why all the girls are insa...
                </p>
                <a href="" class="more_update_display">more</a>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-kayden.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">Kayden</a> is now following you
              </p>
              <div class="notif_info_upload">
                <span>1 hour ago</span>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-anna.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">Anna</a> has unfollowed you
              </p>
              <div class="notif_info_upload">
                <span>June 5th 05:57pm</span>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="no_margin_bottom notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-sumiarti.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">Sumiarti</a> sent you a <a href="">message</a>
              </p>
              <div class="notif_info_upload">
                <a href="">1 attachment</a>
                <span>5 minutes ago via Twitter</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  <a href="">Urgent</a> i need to know what are you thinking about this project i've done rig...
                </p>
                <a href="" class="more_update_display">more</a>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
      </ul>
    </div>
    <div class="notif_new_update_you">
      <div class="update_you_header">
        <span>Your Jot</span>
        <a href="">clear all</a>
      </div>
      <ul class="update_you_content">
        <% @notifications.select { |n| n['type'] == 'jot' }.reverse.each do |notif| %>
          <li class="notif_information">
            <div class="notif_avatar">
              <img src="/assets/ava-jimmy.png" alt="" />
            </div>
            <div class="notif_info_right">
              <div class="primary_content">
                <p class="notif_info_title">
                  <% if notif['authors'].count <= 1 %>
                    <a href="/user/<%= notif['authors'].last %>" ><%= notif['authors'].last %></a> <%= notif['summary'] %> <a href="/jots/<%= notif['jot_id'] %>">jot</a>
                  <% else %>
                    <a href="/user/<%= notif['authors'].last %>" ><%= notif['authors'].last %></a> and <a href="#"> <%= notif['authors'].count - 1 %> others </a><%= notif['summary'] %> 
                    <a href="/jots/<%= notif['jot_id'] %>">jot</a>
                  <% end %>
                </p>
                <div class="notif_info_upload">
                  <span><%= distance_of_time_in_words Time.now, Time.parse(notif['time']) %> ago</span>
                </div>
              </div>
              <div class="secondary_content">
                <div class="notif_info_secondary_white">
                  <p class="notif_info_content">
                    <%= notif['content'] %>
                  </p>
                  <a href="" class="more_update_display">more</a>
                </div>
              </div>
            </div>
            <a href="" class="update_close"></a>
          </li>
        <% end %>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-nenengjebred.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">NenengJebred</a> and <a href="">5</a> others relayed your <a href="">jot</a>
              </p>
              <div class="notif_info_upload">
                <span>1 minute ago</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  <a href="">MetroFx:</a> Tomorrow will still be raining for sure
                </p>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-thumbdown.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                your <a href="">jot</a> was disliked by 5 people
              </p>
              <div class="notif_info_upload">
                <span>on 08:14am</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  <a href="">MetroFx:</a> Turns out some prick thinks your pic is awful, and I won't tell you w...
                </p>
                <a href="" class="more_update_display">more</a>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-bianca.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">bianca</a> and <a href="">5</a> others liked your <a href="">jot</a>
              </p>
              <div class="notif_info_upload">
                <span>on 05:14am</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  <a href="">MetroFx:</a> I'll die tonight
                </p>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-jimmy.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">Jimmy</a> and <a href="">5 others</a> replied your <a href="">jot</a>
              </p>
              <div class="notif_info_upload">
                <span>June 5th 05:57pm</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  <a href="">@MetroFx</a> i know that you are gorgeous, you might be the next top model in...
                </p>
                <a href="" class="more_update_display">more</a>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
        <li class="no_margin_bottom notif_information">
          <div class="notif_avatar">
            <img src="/assets/ava-smartcupid.png" alt="" />
          </div>
          <div class="notif_info_right">
            <div class="primary_content">
              <p class="notif_info_title">
                <a href="">SmartCupid</a> and <a href="">5 others</a> made your <a href="">jot</a> as favorite
              </p>
              <div class="notif_info_upload">
                <span>on May 27th 2:19pm</span>
              </div>
            </div>
            <div class="secondary_content">
              <div class="notif_info_secondary_white">
                <p class="notif_info_content">
                  <a href="">@SmartCupid</a> stop being smart, it won't help anything
                </p>
              </div>
            </div>
          </div>
          <a href="" class="update_close"></a>
        </li>
      </ul>
    </div>
    <a href="#" class="update_you_header_rounded" id="r-link-to-detail-notifications">
      See all updates
    </a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
