<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Jotky - Landing Page (Not Logged)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= csrf_meta_tag %>
    <%= session_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="/assets/ie7.css" />
	<![endif]-->
    <!--[if IE 8]>
	<link rel="stylesheet" type="text/css" href="/assets/ie8.css" />
	<![endif]-->
    <!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="/assets/ie9.css" />
  <![endif]-->
  </head>
  <body>
    <div class="wraper container_16">
      <div class="header">
        <div class="left_header grid_6">
          <a href="landing_page.html" class="main_logo">Jotky</a>
        </div>
        <div class="middle_header grid_7">
          <a href="" class="home">
            <span>&nbsp;</span>
            Home
          </a>
          <a href="/hot_stuff" class="hot_stream">
            <span></span>
            Hot Stream
          </a>


          
           <% if @current_user.present? %>
            <a href="/inbox" class="inbox">
            <span></span>
            Inbox
            </a>
          <div class="clear"></div>
          </div>
        
           <div class="right_header grid_3">
             <a href="/help" class="help">
            <span>&nbsp;</span>
            Help
          </a>
            <a href="<%= logout_path %>" class="sign_in">
              <span>&nbsp;</span>
              Sign Out
            </a>
        
          <% else %>
          <a href="/help" class="help">
            <span>&nbsp;</span>
            Help
          </a>
        
          <div class="clear"></div>
          </div>
          <div class="right_header grid_3">
            <a href="<%= new_authentication_path %>" class="sign_in">
              <span>&nbsp;</span>
              Sign In
            </a>
          <% end %>
        
        
        </div>
        <div class="clear"></div>
      </div>
      <div class="container">
        <div>
          <div class="left_menu grid_2">&nbsp;
          </div>

          <div class="main_content grid_11 cleafix" id="main-content">
            <%= show_alert_message :error => flash[:error], :notice => flash[:notice], :info => flash[:info], :errors => flash[:errors] %>
            <%= yield %>
          </div>

          <div class="right_content grid_3">
            <%= render 'shared/sidebar' %>
          </div>

          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="footer">
<% if @current_user.present? %>
      <div class="drag_box" id="drag_box_user_treat">
        <div class="drag_box_top">
          <span>
            <span class="drag_box_icon">&nbsp;</span>
            <span class="drag_box_text">Drag Box</span>
            <span class="drag_box_information">drag and drop everything here</span>
          </span>
        </div>
        <div class="drag_box_bottom container_16">
          <div class="grid_3">&nbsp;</div>
          <div class="drag_box_middle_jot grid_10">
            <ul>
              <li class="follow">
                <span class="follow_icon">&nbsp;</span>
                <span class="follow_text">follow</span>
              </li>
              <li class="mention">
                <span class="mention_icon">&nbsp;</span>
                <span class="follow_text">mention</span>
              </li>
            </ul>
          </div>
          <div class="grid_3">&nbsp;</div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
<% end %>

      <div class="footer-menu container_16">
        <ul>
          <li class="grid_2"><a href="/about">About</a></li>
          <li class="grid_2"><a href="/contact">Contact</a></li>
          <li class="grid_2"><a href="/status">Status</a></li>
          <li class="grid_2"><a href="/goodies">Goodies</a></li>
          <li class="grid_2"><a href="/api">API</a></li>
          <li class="grid_2"><a href="/help">Help</a></li>
          <li class="grid_2"><a href="/terms">Terms</a></li>
          <li class="grid_2"><a href="/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    
    <%= render 'template/holder' %>
    <%= yield :template %>
    <%= javascript_include_tag 'application3' %>
    <%= yield :javascript %>

    <div id="global-alert" class="global-alert"></div>
  </body>
</html>